.counter {
  justify-content: center;
  position: fixed;
  top: 5px;
  right: 5px;
}

.counter button {
  margin: 10px;
  justify-content: center;
  background-color: beige;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}
.counter button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.even button {
  border: 1px solid blueviolet;
  color: blueviolet;
}
