.form form {
  margin: 0.7em auto;
  width: fit-content;
  overflow: hidden;
  background-color: #e8eaf6;
  border: 2px solid #9fa8da;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
}

form {
  display: block;
  margin: 15px;
}

button {
  padding: 5px 20px;
  margin: 5px;
}

input[type="text"] {
  width: 100%;
  display: block;
}