:root,
body {
  background-color: #151c66;
  /*background-color: #c5cae9;
  background: linear-gradient(
    180deg,
    rgba(21, 28, 102, 1) 150px,
    rgba(197, 202, 233, 1) 150px
  );*/
  font-family: Arial, Helvetica, sans-serif;
  color: #151c66;
}

.soundboard {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #e8eaf6;
  padding: 30px;
  box-shadow: 0px 0px 5px 1px #9fa8da;
  margin: 10px auto;
}

.title,
.quote {
  display: block;
  width: 100%;
  text-align: center;
}

h1,
h1 a {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #e8eaf6;
}

h2 {
  color: #e8eaf6;
}

.title {
  padding: 0;
  margin: 0 10px;
  font-size: 32px;
}

.quote {
  font-size: 20px;
  padding: 0 0 30px 0;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bolder;
}

.items {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 0.7em;
  width: 13em;
  height: 13em;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #9fa8da;
  /*box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);*/
  filter: drop-shadow(0 0 5px #333);
  opacity: 0.8;
}

.item:hover {
  cursor: pointer;
}

.item img {
  width: 100%;
  height: auto;
}

.playing {
  opacity: 1;
  animation: playingShadowPlusRotation infinite 2s linear;
}

@keyframes playingShadowPlusRotation {
  0% {
    filter: drop-shadow(0 0 5px #333);
    transform: rotate(0deg);
  }

  10% {
    filter: drop-shadow(0 0 8px #333);
  }

  20% {
    filter: drop-shadow(0 0 2px #333);
  }

  40% {
    filter: drop-shadow(0 0 8px #333);
  }

  60% {
    filter: drop-shadow(0 0 5px #333);
  }

  80% {
    filter: drop-shadow(0 0 10px #333);
  }

  100% {
    filter: drop-shadow(0 0 5px #333);
    transform: rotate(360deg);
  }
}

.loading {
  color: #e8eaf6;
  font-size: 32px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-style: italic;
}

.soundboard .loading {
  color: #151c66;
}

@media only screen and (min-width: 1000px) {
  .soundboard {
    width: 85vw;
    position: relative;
    border-radius: 10px;
    padding-bottom: 40px;
  }
}